# Loading datasets

In [31]:
import pandas as pd
import requests

pd.set_option("display.max.columns", None)
pd.set_option("display.precision", 2)

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"

In [32]:
response = requests.get(download_url)
print(response.status_code)

200

In [33]:
with open("datasets/nba_all_elo.csv", "wb") as f:
    f.write(response.content)

In [34]:
!ls -alt datasets/

total 17756
-rw-rw-r-- 1 mauricio mauricio 18173265 nov 19 10:18 nba_all_elo.csv
drwxrwxr-x 4 mauricio mauricio     4096 nov 19 10:16 ..
drwxrwxr-x 2 mauricio mauricio     4096 nov 13 20:51 .

In [35]:
nba = pd.read_csv('datasets/nba_all_elo.csv')
type(nba)

pandas.core.frame.DataFrame

In [36]:
print(len(nba))
print(nba.shape)

nba.head(10)

126314
(126314, 23)

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.00,1293.28,40.29,NYK,Knicks,68,1300.00,1306.72,H,L,0.64,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.00,1306.72,41.71,TRH,Huskies,66,1300.00,1293.28,A,W,0.36,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.00,1309.65,42.01,NYK,Knicks,47,1306.72,1297.07,H,W,0.63,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.72,1297.07,40.69,CHS,Stags,63,1300.00,1309.65,A,L,0.37,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.00,1279.62,38.86,WSC,Capitols,50,1300.00,1320.38,H,L,0.64,NaN
5,3,194611020DTF,NBA,1,1947,11/2/1946,1,0,WSC,Capitols,50,1300.00,1320.38,43.14,DTF,Falcons,33,1300.00,1279.62,A,W,0.36,NaN
6,4,194611020PRO,NBA,1,1947,11/2/1946,1,0,BOS,Celtics,53,1300.00,1294.85,40.46,PRO,Steamrollers,59,1300.00,1305.15,A,L,0.36,NaN
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.00,1305.15,41.54,BOS,Celtics,53,1300.00,1294.85,H,W,0.64,NaN
8,5,194611020STB,NBA,1,1947,11/2/1946,1,0,PIT,Ironmen,51,1300.00,1295.31,40.51,STB,Bombers,56,1300.00,1304.69,A,L,0.36,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.00,1304.69,41.49,PIT,Ironmen,51,1300.00,1295.31,H,W,0.64,NaN

In [37]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   gameorder      126314 non-null  int64
 1   game_id        126314 non-null  object
 2   lg_id          126314 non-null  object
 3   _iscopy        126314 non-null  int64
 4   year_id        126314 non-null  int64
 5   date_game      126314 non-null  object
 6   seasongame     126314 non-null  int64
 7   is_playoffs    126314 non-null  int64
 8   team_id        126314 non-null  object
 9   fran_id        126314 non-null  object
 10  pts            126314 non-null  int64
 11  elo_i          126314 non-null  float64
 12  elo_n          126314 non-null  float64
 13  win_equiv      126314 non-null  float64
 14  opp_id         126314 non-null  object
 15  opp_fran       126314 non-null  object
 16  opp_pts        126314 non-null  int64
 17  opp_elo_i      126314 non-null  float64
 18  opp_elo_n      126314 non-null  float64
 19  game_location  126314 non-null  object
 20  game_result    126314 non-null  object
 21  forecast       126314 non-null  float64
 22  notes          5424 non-null    object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [38]:
nba.describe()

,gameorder,_iscopy,year_id,seasongame,is_playoffs,pts,elo_i,elo_n,win_equiv,opp_pts,opp_elo_i,opp_elo_n,forecast
count,126314.00,126314.0,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00,126314.00
mean,31579.00,0.5,1988.20,43.53,0.06,102.73,1495.24,1495.24,41.71,102.73,1495.24,1495.24,0.50
std,18231.93,0.5,17.58,25.38,0.24,14.81,112.14,112.46,10.63,14.81,112.14,112.46,0.22
min,1.00,0.0,1947.00,1.00,0.00,0.00,1091.64,1085.77,10.15,0.00,1091.64,1085.77,0.02
25%,15790.00,0.0,1975.00,22.00,0.00,93.00,1417.24,1416.99,34.10,93.00,1417.24,1416.99,0.33
50%,31579.00,0.5,1990.00,43.00,0.00,103.00,1500.95,1500.95,42.11,103.00,1500.95,1500.95,0.50
75%,47368.00,1.0,2003.00,65.00,0.00,112.00,1576.06,1576.29,49.64,112.00,1576.06,1576.29,0.67
max,63157.00,1.0,2015.00,108.00,1.00,186.00,1853.10,1853.10,71.11,186.00,1853.10,1853.10,0.98

In [39]:
nba['game_id'].value_counts()

194611010TRH    2
199903120DET    2
199903120LAL    2
199903120PHI    2
199903120PHO    2
               ..
197911160PHI    2
197911160PHO    2
197911160SDC    2
197911160SEA    2
201506170CLE    2
Name: game_id, Length: 63157, dtype: int64

In [40]:
nba[nba['fran_id'].str.endswith('ers')]

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
7,4,194611020PRO,NBA,0,1947,11/2/1946,1,0,PRO,Steamrollers,59,1300.00,1305.15,41.54,BOS,Celtics,53,1300.00,1294.85,H,W,0.64,NaN
9,5,194611020STB,NBA,0,1947,11/2/1946,1,0,STB,Bombers,56,1300.00,1304.69,41.49,PIT,Ironmen,51,1300.00,1295.31,H,W,0.64,NaN
16,9,194611050DTF,NBA,1,1947,11/5/1946,2,0,STB,Bombers,53,1304.69,1312.85,42.35,DTF,Falcons,49,1279.62,1271.46,A,W,0.39,NaN
20,11,194611070PRO,NBA,0,1947,11/7/1946,2,0,PRO,Steamrollers,73,1305.15,1311.50,42.21,CHS,Stags,65,1316.08,1309.73,H,W,0.63,NaN
22,12,194611070STB,NBA,0,1947,11/7/1946,3,0,STB,Bombers,63,1312.85,1302.60,41.27,NYK,Knicks,68,1297.07,1307.32,H,L,0.66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126304,63153,201506070GSW,NBA,1,2015,6/7/2015,98,1,CLE,Cavaliers,95,1708.17,1716.87,61.31,GSW,Warriors,93,1806.20,1797.50,A,W,0.24,NaN
126307,63154,201506090CLE,NBA,0,2015,6/9/2015,99,1,CLE,Cavaliers,96,1716.87,1723.41,61.83,GSW,Warriors,91,1797.50,1790.96,H,W,0.53,NaN
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.41,1704.39,60.31,GSW,Warriors,103,1790.96,1809.98,H,L,0.55,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.39,1700.74,60.01,GSW,Warriors,104,1809.98,1813.63,A,L,0.23,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.74,1692.09,59.29,GSW,Warriors,105,1813.63,1822.29,H,L,0.48,NaN

In [41]:
nba['fran_id'].unique()

array(['Huskies', 'Knicks', 'Stags', 'Falcons', 'Capitols', 'Celtics',
       'Steamrollers', 'Ironmen', 'Bombers', 'Rebels', 'Warriors',
       'Baltimore', 'Jets', 'Pistons', 'Lakers', 'Kings', 'Hawks',
       'Denver', 'Olympians', 'Redskins', 'Waterloo', 'Packers', 'Sixers',
       'Wizards', 'Bulls', 'Thunder', 'Squires', 'Stars', 'Rockets',
       'Colonels', 'Pacers', 'Nuggets', 'Spurs', 'Spirits', 'Sounds',
       'Floridians', 'Nets', 'Condors', 'Bucks', 'Suns', 'Clippers',
       'Cavaliers', 'Trailblazers', 'Sails', 'Jazz', 'Mavericks',
       'Pelicans', 'Heat', 'Timberwolves', 'Magic', 'Grizzlies',
       'Raptors', 'Hornets'], dtype=object)

In [42]:
len(nba['fran_id'].unique())

53

In [43]:
nba['fran_id'].nunique()

53

In [44]:
group_fran = nba.groupby('fran_id', sort=False)
group_fran

In [45]:
group_fran['pts'].sum()

fran_id
Huskies           3995
Knicks          582497
Stags            20398
Falcons           3797
Capitols         22387
Celtics         626484
Steamrollers     12372
Ironmen           3674
Bombers          17793
Rebels            4474
Warriors        591224
Baltimore        37219
Jets              4482
Pistons         572758
Lakers          637444
Kings           569245
Hawks           567261
Denver            4818
Olympians        22864
Redskins          5372
Waterloo          4921
Packers           6193
Sixers          585891
Wizards         474809
Bulls           437269
Thunder         437735
Squires          91127
Stars            84940
Rockets         432504
Colonels         94435
Pacers          438288
Nuggets         445780
Spurs           453822
Spirits          85874
Sounds           75582
Floridians       49568
Nets            417809
Condors          49642
Bucks           418326
Suns            437486
Clippers        380523
Cavaliers       380416
Trailblazers    402695
Sails            30080
Jazz            363155
Mavericks       309239
Pelicans        220794
Heat            229103
Timberwolves    207693
Magic           219436
Grizzlies       157683
Raptors         158370
Hornets          84489
Name: pts, dtype: int64

In [46]:
years_results = nba[nba['fran_id'] == 'Bulls'].groupby(['year_id', 'game_result'])

In [47]:
years_results['game_id'].count()

year_id  game_result
1967     L              51
         W              33
1968     L              57
         W              30
1969     L              49
                        ..
2013     W              50
2014     L              38
         W              49
2015     L              38
         W              56
Name: game_id, Length: 98, dtype: int64

In [49]:
years_results.count()

                     gameorder  game_id  lg_id  _iscopy  date_game  \
year_id game_result
1967    L                   51       51     51       51         51
        W                   33       33     33       33         33
1968    L                   57       57     57       57         57
        W                   30       30     30       30         30
1969    L                   49       49     49       49         49
...                        ...      ...    ...      ...        ...
2013    W                   50       50     50       50         50
2014    L                   38       38     38       38         38
        W                   49       49     49       49         49
2015    L                   38       38     38       38         38
        W                   56       56     56       56         56

                     seasongame  is_playoffs  team_id  fran_id  pts  elo_i  \
year_id game_result
1967    L                    51           51       51       51   51     51
        W                    33           33       33       33   33     33
1968    L                    57           57       57       57   57     57
        W                    30           30       30       30   30     30
1969    L                    49           49       49       49   49     49
...                         ...          ...      ...      ...  ...    ...
2013    W                    50           50       50       50   50     50
2014    L                    38           38       38       38   38     38
        W                    49           49       49       49   49     49
2015    L                    38           38       38       38   38     38
        W                    56           56       56       56   56     56

                     elo_n  win_equiv  opp_id  opp_fran  opp_pts  opp_elo_i  \
year_id game_result
1967    L               51         51      51        51       51         51
        W               33         33      33        33       33         33
1968    L               57         57      57        57       57         57
        W               30         30      30        30       30         30
1969    L               49         49      49        49       49         49
...                    ...        ...     ...       ...      ...        ...
2013    W               50         50      50        50       50         50
2014    L               38         38      38        38       38         38
        W               49         49      49        49       49         49
2015    L               38         38      38        38       38         38
        W               56         56      56        56       56         56

                     opp_elo_n  game_location  forecast  notes
year_id game_result
1967    L                   51             51        51     12
        W                   33             33        33      7
1968    L                   57             57        57     10
        W                   30             30        30      6
1969    L                   49             49        49      3
...                        ...            ...       ...    ...
2013    W                   50             50        50      0
2014    L                   38             38        38      0
        W                   49             49        49      0
2015    L                   38             38        38      0
        W                   56             56        56      0

[98 rows x 21 columns]

In [52]:
nba['game_id'].is_unique

False

In [54]:
nba[
    (nba['fran_id'] == 'Warriors') &
    (nba['year_id'] == 2015)
].groupby(['is_playoffs', 'game_result'])['game_id'].count()

is_playoffs  game_result
0            L              15
             W              67
1            L               5
             W              16
Name: game_id, dtype: int64